body {
    background-color: lightslategray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

article {
    position: relative;
    top:100px;
    text-align: center;
    display: flex;
    width:90%;
    flex-direction: column;
    align-content: center;
    align-self:center;
}

article p {
    display: block;
}

figure img{
    border: solid 1px black;
    padding: 10px;
    height: auto;
    width: 100%;
    overflow: visible;
}
